<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- scripts  -->
    <script type="text/javascript" src="/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="/scripts/kitchen-bundle.js"></script>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/dist/semantic.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/kitchen.css"/>
    <link rel="manifest" href="/manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru" rel="stylesheet">
  </head>

  <body>
    <div id="render-wrapper"></div>
    <div id="modals"></div>

    <script>
    // attempt to authorize
    // const provider = new firebase.auth.GoogleAuthProvider();
    // provider.addScope('https://www.googleapis.com/auth/plus.login');
    // firebase.auth().getRedirectResult().then(function(result) {
      //if (result.credential) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        //var token = result.credential.accessToken;
        // ...
      //}
      // The signed-in user info.
      //var user = result.user;
    // }).catch(function(error) {
      // Handle Errors here.
      // var errorCode = error.code;
      // var errorMessage = error.message;
      // The email of the user's account used.
      // var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      // var credential = error.credential;
      // ...
      // firebase.auth().signInWithRedirect(provider);
    // });
    </script>
  </body>
</html>
