<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width" name="viewport">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/scripts/receipts-bundle.js"></script>
    <link rel="stylesheet" href="/dist/semantic.min.css"/>
    <link rel="stylesheet" href="/dist/cropper.min.css"/>
    <link rel="stylesheet" href="/styles/receipts.css"/>
  </head>
  <body>
      <div id="render-wrapper"></div>
  </body>
</html>
