.directions-editor {

  .select-section-menu a {
    padding-left: 0 !important;
  }
  
  margin-top: 20px;
  margin-bottom: 20px;

  .delete-button {
    float: right;
    vertical-align: middle;
  }

  .step {
    display: inline-block;
  }

  .directions-section {
    .inner-component:not(:last-child) {
      .field {
        margin-bottom: 10px !important;

      }
    }
  }
}
