.filter-recipes-by-category-tags {
  margin-top: 1rem;

  .selected {
    display: inline-block;

    + div {
      padding-left: 1rem;
      margin-left: 1rem;
      border-left: solid 1px lightgrey;
      display: inline-block;
    }

    .buttons {
      margin-right: 3.5px;
    }
  }

  &:lang(jp) {
    .labeled.button {
      font-family: 'Kosugi Maru', sans-serif !important;

      .button {
        font-family: 'Kosugi Maru', sans-serif !important;
      }
    }
  }
}
