.full-recipe-view {
  .right.floated {
    float: right;
  }

  .ui.embed {
    border-radius: 20px;
  }

  .ingredients-wrapper {
    margin-top: 20px;
  }

  .directions-wrapper {
    margin-top: 20px;
  }

  margin-bottom: 50px;
}
