.full-recipe-view {

  font-family: 'Lato', sans-serif;

  h3 {
    span {
      font-size: 1.25rem;
      color: black;
      position: absolute;
      top: 0;
      right: .5em;
    }

    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    color: #f75d5d;
  }

  .right.floated {
    float: right;
  }

  .ui.embed {
    border-radius: 20px;
  }

  .ui.image {
    width: 100%;
    img {
      margin: auto;
      max-height: 300px;
      max-width: auto;
      border-radius: 20px;
    }
  }

  .ingredients-wrapper {
    margin-top: 20px;

    .header {
      font-family: 'Playfair Display', serif;
      font-size: 16px !important;
      font-weight: normal;
      text-transform: capitalize !important;
      color: #f75d5d;
    }

    .ingredients-section {
      margin-top: 20px;
    }

    .ingredients-section:not(:only-child) {
      display: inline-block;
      vertical-align: top;
      max-width: 30%;
      margin-right: 20px;
    }

    .item:before {
      color: #cccccc !important;
    }
  }

  .directions-wrapper {
    margin-top: 20px;

    .header {
      font-family: 'Playfair Display', serif;
      font-size: 16px !important;
      font-weight: normal;
      text-transform: capitalize !important;
      color: #f75d5d;
    }

    .item:before {
      color: #cccccc !important;
    }
  }

  .timeline-wrapper {
    margin-top: 20px;

    svg {
      width: 100%;
      margin-top: 20px;
    }
  }

  margin-bottom: 50px;
}
