.import-recipe {
  &:lang(jp) {
    font-family: 'Kosugi Maru', sans-serif !important;

    .button {
      font-family: 'Kosugi Maru', sans-serif !important;
    }

    .message .header {
      font-family: 'Kosugi Maru', sans-serif !important;
    }
  }

  .parse.button {
    margin-bottom: 1rem;
  }
  .recipe-card {
    .ui.card {
      width: 100% !important;
    }

    .ingredients-wrapper {
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }

  .error-text {
    margin-top: .5em;
    color: rgb(159, 58, 56);
  }
}
