.import-recipe {
  .recipe-card {
    .ui.card {
      width: 100% !important;
    }

    .ingredients-wrapper {
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }

  .error-text {
    margin-top: .5em;
    color: rgb(159, 58, 56);
  }
}
