.ingredients-editor {

  .select-section-menu a {
    padding-left: 0 !important;
  }

  .inner-component {
    margin-bottom: 0.75rem;
  }

  .ingredients-fields {
    display: inline-block;

    .fields {
      margin-bottom: 0 !important;
    }

  }

  .delete-button-wrapper .button {
    margin: 0 !important;
  }

  input {
    padding: 7px !important;
  }
}
