.recipes-route-wrapper {
  margin-bottom: 100px;

  &:lang(jp) {

  }

  .shopping-list {
    &.expanded + .api-recipes-list {
      margin-left: 20%;
    }
  }

  .centered.image {
    display: block;
  }

  .previews-list {
    .slick-slide h3 {
      &:lang(jp) {
        font-family: 'Kosugi Maru', sans-serif !important;
      }
    }
  }

  .api-recipes-list {
    .recipe-card {
      .ingredients-wrapper {
        padding-bottom: 1em;
        margin-bottom: 1em;

        .header {
          font-family: 'Playfair Display', serif;
          font-size: 16px !important;
          font-weight: normal;
          text-transform: capitalize !important;
          color: #f75d5d;
        }

        .item:before {
          color: #cccccc !important;
        }
      }

      .directions-wrapper {
        .header {
          font-family: 'Playfair Display', serif;
          font-size: 16px !important;
          font-weight: normal;
          text-transform: capitalize !important;
          color: #f75d5d;
        }

        .item:before {
          color: #cccccc !important;
        }
      }

    }
  }
}

.recipe-editor {
  .recipe-card {
    .ingredients-wrapper {
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }
}

.slick-prev:before, .slick-next:before {
  color: #2185d0 !important;
}
