.recipe-card {
  .ui.card {
    .ingredients-section:not(:last-child) {
      margin-bottom: 1em;
    }

    .actions {
      float: right;
      padding-bottom: 0;
      margin-left: 1em;

      & + .content {
        border-top: none;
      }
    }

    .servings {
      margin-bottom: 1em;
    }

    .keyword {
      color: blue;
    }

    &:lang(jp) {
      font-family: 'Kosugi Maru', sans-serif !important;

      .content .header {
        font-family: 'Kosugi Maru', sans-serif !important;
      }

      .ingredients-section .ui.sub.header {
        font-family: 'Kosugi Maru', sans-serif !important;
        font-size: 1rem;
      }

      .directions-wrapper {
        .ui.sub.header {
          font-size: 1rem;
        }

        .smart-step {
          line-height: 1.5rem;
        }
      }
    }
  }
}
