.recipes-route-wrapper {
  margin-bottom: 100px;

  .shopping-list {
    &.expanded + .api-recipes-list {
      margin-left: 20%;
    }
  }

  .centered.image {
    display: block;
  }

  .api-recipes-list {
    .recipe-card {
      .ingredients-wrapper {
        padding-bottom: 1em;
        margin-bottom: 1em;
      }

    }
  }
}

.recipe-editor {
  .recipe-card {
    .ingredients-wrapper {
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }
}

.slick-prev:before, .slick-next:before {
  color: #2185d0 !important;
}
