.recipe-editor {
  .sticky-header-menu {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;

    .inner {
      //background-color: white;
      background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    }
  }

  .sticky-header-menu.fixed.top {
    margin-bottom: 0;

    .inner {
      padding: 1rem 0;
    }

    & + form {
      margin-top: 60px;
    }
  }

  .pointing.menu .item {
    text-align: right;
  }
}
