.mirror {
  margin: 2rem 4rem;

  .grid {
    height: calc(100vh - 4rem);
    margin-top: 2rem !important;

    .column {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .combined-vertical-calendar {
    height: 100%;

    .segments {
      height: 100% !important;
      max-height: 100% !important;
      overflow: hidden;

      .inverted.segment {
        border-left: solid 2px grey !important;
        border-right: solid 2px grey !important;
        border-top: solid 2px grey !important;

        font-size: 1.25rem;
        line-height: 2rem;

        &:last-child {
          border-bottom: solid 2px grey !important;
        }
      }
    }
  }
}
