.kitchen-container {
  padding-top: 15px;
}

input[type=file].hidden-file-input {
  display: none;
}

.kitchen-container .inline.fields .sixteen.wide.field {
  padding-right: 0
}

input[type=number] {
  text-align: right;
}

.food-editor-container img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
}

.food-editor-container .dropdown {
  width: 40%;
}

.food-editor-container .right.action.input input {
  text-align: right;
}

.food-item-card .image {
  max-height: 200px;
  max-width: 100px;
  margin: 0 auto;
}

.food-item-card img {
  padding: 5px 0;
  background: white;
}

.food-item-row img {
  max-height: 50px;
}

.ui.menu .icon-only.item i {
  margin-right: 0;
}

.item-inputs-wrapper h5 {
  line-height: 38px;
}

.item-inputs-wrapper .ui.grid .column {
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}

.kitchen-container > button.ui.button {
  margin-top: 25px;
}

.ui.transparent.input {
  margin-left: .75rem;
  font-weight: 700;
  height: 23px;
  max-width: 75px;
}

span[contenteditable=true] {
  margin-left: .75rem;
  margin-right: .75rem;
  display: inline-block;
  height: 23px;
  line-height: 23px;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
