.receipt-processor-container .uploader-wrapper label {
  margin-bottom: 15px;
}

.receipt-processor-container {
  margin-top: 20px;
}

.receipt-processor-container .steps {
  margin-top: 75px;
}

.receipt-processor-container .uploader-wrapper form {
  margin-bottom: 25px;
}

.verifier-wrapper .right.floated {
  margin-left: 10px;
}

.verifier-wrapper img {
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.verifier-wrapper button[type=submit] {
  margin-bottom: 20px;
}

input[type=file].hidden-file-input {
  display: none;
}

.cropper-wrapper img {
  max-width: 100%;
}

.image-editor {
  height: 70vh;
  margin-bottom: 20px;
}

.cropper-container {
  inherit: none;
}

.uploader-wrapper img.image {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  display: none;
}
