.eat-modal {
  position: fixed !important;

  .buttons {
    margin-bottom: 10px !important;
  }

  input[type="range"] {
    width: 87%;
    vertical-align: middle;
  }

  .centered {
    text-align: center;
    margin-top: 1rem;
  }
}
