div.food-card.ui.card {

  .icon {
    transition: color .1s ease;

    &.setting:hover {
      color: #000000;
    }

    &.plus:hover {
      color: #0E6EB8;
    }
  }

  .header {
    .title {
      max-width: 80%;
    }
  }

  .image {
    background: white;

    img {
      &.out-overlay {
        filter: blur(3.5px);
      }

      max-height: 200px;
      width: auto;
      margin: auto;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .header {
    span:not(.title){
      float: right;
    }
  }

  img.category {
    max-height: 50px !important;
    width: auto;
    cursor: pointer;
  }
}
