div.food-card.ui.card {
  .header {
    .title {
      max-width: 80%;
    }
  }
  .image {
    background: white;

    img {
      max-height: 200px;
      width: auto;
      margin: auto;
      max-width: 100%;
      border-radius: 10px;
    }
  }
}
