div.food-card.ui.card {

  .corner.label {
    transition: border-color 0.1s ease;
    -webkit-transition: border-color 0.1s ease;

    &:hover {
      border-color: #fbbd08;
    }

    &:active {
      border-color: #cd9903;
    }

    i {
      color: white;
    }
  }

  .icon {
    transition: color .1s ease;

    &.setting:hover {
      color: #000000;
    }

    &.plus:hover {
      color: #0E6EB8;
    }
  }

  .content {
    img {
      padding: 0;
    }
  }

  .meta {
    text-transform: capitalize;
  }

  .header {
    .title {
      max-width: 80%;
    }
  }

  .image {
    background: white;

    img {
      &.out-overlay {
        filter: blur(3.5px);
      }

      max-height: 200px;
      width: auto;
      margin: auto;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .header {
    span:not(.title){
      float: right;
    }
  }

  img.category {
    //max-height: 50px !important;
    //width: auto;
    cursor: pointer;
    margin-right: .5rem;
  }
}
