.food-editor-container {
  .dimmable.image {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px lightgrey;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }

  .dropdown {
    img.image {
      border-radius: 0;
    }
  }

  .zone-dropdown {
    i.dropdown.icon {
      padding-top: 15px !important;
    }
  }

  .kitchen-item-feed {
    margin-top: 20px;
  }

  .recipes-for-item {
    .horizontal.header {
      &::before {
        width: 15% !important;
      }

      &::after {
        width: 85% !important;
      }
    }
  }

}
