.shopping-list.expanded + .inventory-wrapper {
  margin-left: 100px;
}

.inventory-wrapper {
  margin-bottom: 70px;

  > div.header {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;

    .dropdown {
      margin-bottom: 5px;

      .item {
        img {
          max-height: 20px;
          vertical-align: middle;
        }
      }

      .label {
        font-size: 1.25rem;
        img {
          margin-right: 10px;
        }
      }
    }

    .buttons {
      .button.active, .button.active:hover {
        background-color: white !important;
      }

      .button, .button:hover {
        background-color: rgba(255, 255, 255, .25) !important;
      }
    }

    .toggle.checkbox {
      display: block;
      margin-top: 10px;
    }
  }
}

div.kitchen-inventory {



  > div.content {
    margin-bottom: 75px;
    text-align: center;
  }

  div.footer {
    position: fixed;
    background: #e8e8e8;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;

    button {
      margin: 10px 10px;
    }
  }
}

.search-items-by-name-dropdown-wrapper {
  input {
    border-radius: 4px !important;
    height: 53px;
  }

  .results {
    margin: 0 !important;
  }

  margin-bottom: 5px;
}
