.kitchen-dashboard-wrapper {
  .card {
    img {
      max-height: 100px !important;
    }
  }

  margin-bottom: 50px;

  .accordion {
    h2 {
      margin-top: 0;

      > i {
        font-size: 1em;
        vertical-align: text-top;
      }
    }

    i.dropdown {
      font-size: 1.5em !important;
    }

    .content {
        margin-top: 1.5rem;
    }
  }
}
