.kitchen-dashboard-wrapper {
  .card {
    img {
      max-height: 100px !important;
    }
  }

  margin-bottom: 50px;

  .segment {
    > h2.header {
      > i {
        font-size: 1em;
        vertical-align: text-top;
      }
    }
  }
}
